# Virtual environment
venv/
ENV/
env/
.venv/


# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# IDE / editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
